repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: fix-byte-order-marker

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types: [markdown]
        files: ^docs/_posts/.*\.md$
        args: ['--prose-wrap', 'always', '--print-width', '80']

ci:
  autoupdate_schedule: monthly
